nav {
    background-color: rgba(0, 0, 0, 0.796);
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding: 5px 10%;
}
#content{
    background: url('../img/main-bg.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: white;
}
#game {
    background: url('../img/the-games-bg.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: white;
}
#feature {
    background: url('../img/features.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: white;
}
#requirements {
    background: url('../img/requirements.png') no-repeat center center;
    background-size: cover;
    padding: 40px 0;
    width: 100vw;
    height: 100vh;
    color: white;
}
#top-score {
    background: url('../img/top-score-bg.png') no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: white;
}
#newslater {
    background: url('../img/top-score-bg.png') no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: white;
}

.carosel-item {
    width: 50px;
    height: 20px;
}